.nav {
position: absolute;
top: 0;
left: 0;
right: 0;
height: 75px;
display: flex;
align-items: center;
background-color: #d2a719;
color: rgb(3, 3, 3);
font-weight: 600;
justify-content: space-between;
}

.nav img {
margin: 0 16px;
}
#menu{
    display: flex;
    list-style: none;
    margin-right: 20px;
}
#menu li{
    margin: 9px;
}
#menu a{
    text-decoration: none;
    margin: 15px;
}
@media screen and (max-width: 992px) {
    
}
@media screen and (max-width: 767px) {

}
@media screen and (max-width: 575px) {

}


